@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --container-max-width: 656px;

  --ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);

  --animate-breadcrumb-in: breadcrumb-in both 500ms var(--ease-in-out-circ);
  @keyframes breadcrumb-in {
    from {
      opacity: 0;
      transform: translate3d(-0.1rem, 0, 0);
    }
  }

  --animate-blur-in:
    blur-in both 1s var(--ease-out), fade-in both 1s var(--ease-out);
  @keyframes blur-in {
    from {
      transform: translate3d(-5%, 0, 0);
      filter: blur(20px);
    }
  }

  --animate-fade-in: fade-in both 1s;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
}

@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: var(--container-max-width);
}

@utility corner-shape-* {
  corner-shape: --value(
    "bevel",
    "notch",
    "round",
    "scoop",
    "square",
    "squircle"
  );
}

body {
  color: var(--color-neutral-950);
}
