@import "tailwindcss";

@theme {
  --container-max-width: 656px;

  --ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);
}

@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: var(--container-max-width);
}

body {
  color: var(--color-neutral-950);
}
